<!DOCTYPE html>

<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <title>Coin Combination</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Enter your spare change amount in cents!</h1>

                    <form action="/change" method="post">
                        <div class="form-group">
                            <label for="change">Change (in cents)</label>
                            <input type="number" name="change" class="form-control" id="change">
                        </div>

                        <button type="submit" class="btn btn-success">Calculate</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
