<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <title>Results!</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>You will get {{ coins[3] }} quarters, {{ coins[2] }} dimes,
                        {{ coins[1] }} nickels, and {{ coins[0] }} pennies.</h1>

                        <h3>
                            <a href="/">Enter another amount!</a>
                        </h3>
                </div>
            </div>
        </div>
    </body>
</html>
