<!DOCTYPE html>
<html>
    <head>
        <title>Results!</title>
    </head>
    <body>
        <p>You will get {{ coins[3] }} quarters, {{ coins[2] }} dimes,
            {{ coins[1] }} nickels, and {{ coins[0] }} pennies. </p>
    </body>
</html>
